@keyframes x1wc8ddo-B{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
@keyframes x9h36ur-B{0%, 80%, 100%{transform:scale(.6);opacity:.3;}40%{transform:scale(1);opacity:1;}}
.x11g6tue:not(#\#){background:none}
.x1nfl404:not(#\#){border:1px solid #cbd5e0}
.x6oqggz:not(#\#){border:1px solid #e2e8f0}
.x1gs6z28:not(#\#){border:none}
.x1ghz6dp:not(#\#){margin:0}
.x1717udv:not(#\#){padding:0}
.xetlade:not(#\#){padding:10px 15px}
.x1sj8shu:not(#\#){padding:12px 15px}
.xc7ga6q:not(#\#){padding:12px}
.x6w2896:not(#\#){padding:15px}
.x1rytaw:not(#\#){padding:5px 15px}
.xpb1vv:not(#\#){padding:5px 8px 3px}
.xk61eof:not(#\#){padding:6px 10px}
.x1arfzav:not(#\#){padding:6px 12px}
.x153ncpu:not(#\#){padding:8px 12px}
.x1ff1495:not(#\#){padding:8px 16px}
.x1xsqp64:not(#\#):not(#\#){background-position:center}
.xiozw1c:not(#\#):not(#\#){border-color:#00B6DE}
.x1ucx3is:not(#\#):not(#\#){border-radius:0 0 5px 5px}
.xgqmno8:not(#\#):not(#\#){border-radius:16px}
.x16rqkct:not(#\#):not(#\#){border-radius:50%}
.x1sxf85j:not(#\#):not(#\#){border-radius:5px}
.x98rzlu:not(#\#):not(#\#){flex:1}
.x883omv:not(#\#):not(#\#){gap:10px}
.x1jnr06f:not(#\#):not(#\#){gap:4px}
.x17d4w8g:not(#\#):not(#\#){gap:6px}
.x167g77z:not(#\#):not(#\#){gap:8px}
.x1a2a7pz:not(#\#):not(#\#){outline:none}
.xb3r6kr:not(#\#):not(#\#){overflow:hidden}
.x169l3ba:not(#\#):not(#\#){transition:all .2s ease}
.x5gkzjs:not(#\#):not(#\#){transition:background-color .2s ease}
.xcrclan:not(#\#):not(#\#){transition:height .3s ease-in-out}
.xzdg38j:not(#\#):not(#\#){transition:opacity .2s ease}
.x1jaox4c:not(#\#):not(#\#){transition:transform .2s ease}
.x6s0dn4:not(#\#):not(#\#):not(#\#){align-items:center}
.x1sbju2s:not(#\#):not(#\#):not(#\#){animation-duration:1.4s}
.x1q3qbx4:not(#\#):not(#\#):not(#\#){animation-duration:1s}
.x1u6ievf:not(#\#):not(#\#):not(#\#){animation-fill-mode:both}
.xa4qsjk:not(#\#):not(#\#):not(#\#){animation-iteration-count:infinite}
.x1aerksh:not(#\#):not(#\#):not(#\#){animation-name:x1wc8ddo-B}
.xuqynxq:not(#\#):not(#\#):not(#\#){animation-name:x9h36ur-B}
.x4hg4is:not(#\#):not(#\#):not(#\#){animation-timing-function:ease-in-out}
.x1esw782:not(#\#):not(#\#):not(#\#){animation-timing-function:linear}
.x19z9ohp:not(#\#):not(#\#):not(#\#){backdrop-filter:blur(2px)}
.x1kvm9do:not(#\#):not(#\#):not(#\#){background-color:#00B6DE}
.xkip32:not(#\#):not(#\#):not(#\#){background-color:#4299e1}
.x14byl53:not(#\#):not(#\#):not(#\#){background-color:#6B7280}
.xxzi0tn:not(#\#):not(#\#):not(#\#){background-color:#6CB24A}
.x23e8kh:not(#\#):not(#\#):not(#\#){background-color:#DC2626}
.xyt46ls:not(#\#):not(#\#):not(#\#){background-color:#efefee}
.xt040g:not(#\#):not(#\#):not(#\#){background-color:#f8fafc}
.x83z2og:not(#\#):not(#\#):not(#\#){background-color:#fff}
.xtwfq29:not(#\#):not(#\#):not(#\#){background-color:currentColor}
.xj4c5ne:not(#\#):not(#\#):not(#\#){background-color:rgba(0,0,0,.3)}
.xcpsgoo:not(#\#):not(#\#):not(#\#){background-color:rgba(0,0,0,.5)}
.x1dqo6ux:not(#\#):not(#\#):not(#\#){background-color:rgba(243,244,246,.9)}
.x11gdpij:not(#\#):not(#\#):not(#\#){background-color:rgba(255,255,255,.8)}
.xjbqb8w:not(#\#):not(#\#):not(#\#){background-color:transparent}
.x12peec7:not(#\#):not(#\#):not(#\#){background-color:white}
.xxc1m8d:not(#\#):not(#\#):not(#\#){background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%234B5563'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M17.65 6.35A7.958 7.958 0 0 0 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18c-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3C/svg%3E")}
.xjppt3x:not(#\#):not(#\#):not(#\#){background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23DC2626'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 6h12v12H6z'/%3E%3C/svg%3E")}
.xrcfyjq:not(#\#):not(#\#):not(#\#){background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z'/%3E%3C/svg%3E")}
.x19cu162:not(#\#):not(#\#):not(#\#){background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z'/%3E%3C/svg%3E")}
.xsidlj1:not(#\#):not(#\#):not(#\#){background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234a5568' viewBox='0 0 16 16'%3E%3Cpath d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z'/%3E%3Cpath d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z'/%3E%3C/svg%3E")}
.xgxuiq8:not(#\#):not(#\#):not(#\#){background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234a5568' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E")}
.xiy17q3:not(#\#):not(#\#):not(#\#){background-repeat:no-repeat}
.x1tbiz1a:not(#\#):not(#\#):not(#\#){background-size:contain}
.xxo6qbs:not(#\#):not(#\#):not(#\#){box-shadow:0 2px 5px rgba(0,0,0,.05)}
.x1f5l6gq:not(#\#):not(#\#):not(#\#){box-shadow:0 5px 15px rgba(0,0,0,.3)}
.x9f619:not(#\#):not(#\#):not(#\#){box-sizing:border-box}
.xn0hivg:not(#\#):not(#\#):not(#\#){color:#4B5563}
.xtbymah:not(#\#):not(#\#):not(#\#){color:#6B7280}
.xfungia:not(#\#):not(#\#):not(#\#){color:#fff}
.x1mqxbix:not(#\#):not(#\#):not(#\#){color:black}
.x1awj2ng:not(#\#):not(#\#):not(#\#){color:white}
.xt0e3qv:not(#\#):not(#\#):not(#\#){cursor:default}
.xmper1u:not(#\#):not(#\#):not(#\#){cursor:inherit}
.xv5twrn:not(#\#):not(#\#):not(#\#){cursor:move}
.x1ypdohk:not(#\#):not(#\#):not(#\#){cursor:pointer}
.x78zum5:not(#\#):not(#\#):not(#\#){display:flex}
.x1rg5ohu:not(#\#):not(#\#):not(#\#){display:inline-block}
.x1s85apg:not(#\#):not(#\#):not(#\#){display:none}
.xdt5ytf:not(#\#):not(#\#):not(#\#){flex-direction:column}
.x1q0g3np:not(#\#):not(#\#):not(#\#){flex-direction:row}
.x1a02dak:not(#\#):not(#\#):not(#\#){flex-wrap:wrap}
.xmy0v6l:not(#\#):not(#\#):not(#\#){font-family:Arial,sans-serif}
.xfifm61:not(#\#):not(#\#):not(#\#){font-size:12px}
.x4z9k3i:not(#\#):not(#\#):not(#\#){font-size:13px}
.xif65rj:not(#\#):not(#\#):not(#\#){font-size:14px}
.x1j61zf2:not(#\#):not(#\#):not(#\#){font-size:16px}
.x1pvqxga:not(#\#):not(#\#):not(#\#){font-size:24px}
.xk50ysn:not(#\#):not(#\#):not(#\#){font-weight:500}
.x117nqv4:not(#\#):not(#\#):not(#\#){font-weight:bold}
.xl56j7k:not(#\#):not(#\#):not(#\#){justify-content:center}
.x1qughib:not(#\#):not(#\#):not(#\#){justify-content:space-between}
.x1o2pa38:not(#\#):not(#\#):not(#\#){justify-items:center}
.xl1xv1r:not(#\#):not(#\#):not(#\#){object-fit:cover}
.xg01cxk:not(#\#):not(#\#):not(#\#){opacity:0}
.x1hc1fzr:not(#\#):not(#\#):not(#\#){opacity:1}
.x47corl:not(#\#):not(#\#):not(#\#){pointer-events:none}
.x10l6tqk:not(#\#):not(#\#):not(#\#){position:absolute}
.xixxii4:not(#\#):not(#\#):not(#\#){position:fixed}
.x1n2onr6:not(#\#):not(#\#):not(#\#){position:relative}
.xtt52l0:not(#\#):not(#\#):not(#\#){resize:none}
.x11lhmoz:not(#\#):not(#\#):not(#\#){transform:translate(-50%,-50%)}
.x1nc5ocm:not(#\#):not(#\#):not(#\#){transform:translate(-50%,0)}
.x1cdci3v:not(#\#):not(#\#):not(#\#){transform:translate(0,-50%)}
.x1vvkbs:not(#\#):not(#\#):not(#\#){word-wrap:break-word}
.x1n327nk:not(#\#):not(#\#):not(#\#){z-index:10}
.x11uqc5h:not(#\#):not(#\#):not(#\#){z-index:100}
.x1rozsjd:not(#\#):not(#\#):not(#\#){z-index:101}
.x1lle0v0:nth-child(2):not(#\#):not(#\#):not(#\#){animation-delay:-0.16s}
.xvosfse:nth-child(1):not(#\#):not(#\#):not(#\#){animation-delay:-0.32s}
.xrpfj4q:nth-child(3):not(#\#):not(#\#):not(#\#){animation-delay:0s}
.xzk1692:disabled:not(#\#):not(#\#):not(#\#){background-color:#f3f4f6}
.x1s07b3s:disabled:not(#\#):not(#\#):not(#\#){cursor:not-allowed}
.xijokvz:disabled:not(#\#):not(#\#):not(#\#){opacity:.5}
.x1fzehxr:disabled:not(#\#):not(#\#):not(#\#){opacity:1}
.x1o7uuvo:hover:not(#\#):not(#\#):not(#\#){opacity:1}
.x14snt5h:hover:not(#\#):not(#\#):not(#\#){transform:scale(1.05)}
.x1w61mk2:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-right-radius:5px}
.x1nrfd8m:not(#\#):not(#\#):not(#\#):not(#\#){border-top-left-radius:3px}
.x16gx4na:not(#\#):not(#\#):not(#\#):not(#\#){border-top-right-radius:3px}
.x1ey2m1c:not(#\#):not(#\#):not(#\#):not(#\#){bottom:0}
.x5yr21d:not(#\#):not(#\#):not(#\#):not(#\#){height:100%}
.xpyat2d:not(#\#):not(#\#):not(#\#):not(#\#){height:100px}
.x1kpxq89:not(#\#):not(#\#):not(#\#):not(#\#){height:12px}
.x1v9usgg:not(#\#):not(#\#):not(#\#):not(#\#){height:14px}
.xlup9mm:not(#\#):not(#\#):not(#\#):not(#\#){height:16px}
.x10w6t97:not(#\#):not(#\#):not(#\#):not(#\#){height:32px}
.xuoj239:not(#\#):not(#\#):not(#\#):not(#\#){height:3px}
.x1vqgdyp:not(#\#):not(#\#):not(#\#):not(#\#){height:40px}
.xvt47uu:not(#\#):not(#\#):not(#\#):not(#\#){height:65px}
.xdk7pt:not(#\#):not(#\#):not(#\#):not(#\#){height:8px}
.xu96u03:not(#\#):not(#\#):not(#\#):not(#\#){left:0}
.x1nrll8i:not(#\#):not(#\#):not(#\#):not(#\#){left:50%}
.x1rvfpmx:not(#\#):not(#\#):not(#\#):not(#\#){left:5px}
.xieb3on:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:20px}
.x8x9d4c:not(#\#):not(#\#):not(#\#):not(#\#){margin-left:auto}
.x17ituo4:not(#\#):not(#\#):not(#\#):not(#\#){margin-right:5px}
.x1gslohp:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:4px}
.x1aoj0v:not(#\#):not(#\#):not(#\#):not(#\#){max-height:150px}
.x9ybwvh:not(#\#):not(#\#):not(#\#):not(#\#){max-height:600px}
.x193iq5w:not(#\#):not(#\#):not(#\#):not(#\#){max-width:100%}
.x2lklch:not(#\#):not(#\#):not(#\#):not(#\#){min-height:170px}
.x1wxaq2x:not(#\#):not(#\#):not(#\#):not(#\#){min-height:48px}
.xktpd3l:not(#\#):not(#\#):not(#\#):not(#\#){min-width:100px}
.x1odjw0f:not(#\#):not(#\#):not(#\#):not(#\#){overflow-y:auto}
.x3m8u43:not(#\#):not(#\#):not(#\#):not(#\#){right:0}
.x13vifvy:not(#\#):not(#\#):not(#\#):not(#\#){top:0}
.xwa60dl:not(#\#):not(#\#):not(#\#):not(#\#){top:50%}
.x1jzctok:not(#\#):not(#\#):not(#\#):not(#\#){top:5px}
.xh8yej3:not(#\#):not(#\#):not(#\#):not(#\#){width:100%}
.x1p2m28r:not(#\#):not(#\#):not(#\#):not(#\#){width:1000px}
.x1exxlbk:not(#\#):not(#\#):not(#\#):not(#\#){width:100px}
.xsmyaan:not(#\#):not(#\#):not(#\#):not(#\#){width:12px}
.x6jxa94:not(#\#):not(#\#):not(#\#):not(#\#){width:14px}
.x1kky2od:not(#\#):not(#\#):not(#\#):not(#\#){width:16px}
.x1g8rjiy:not(#\#):not(#\#):not(#\#):not(#\#){width:3px}
.x1useyqa:not(#\#):not(#\#):not(#\#):not(#\#){width:48px}
.x1hetxy2:not(#\#):not(#\#):not(#\#):not(#\#){width:65px}
.x1xc55vz:not(#\#):not(#\#):not(#\#):not(#\#){width:8px}
.xeq5yr9:not(#\#):not(#\#):not(#\#):not(#\#){width:fit-content}