.modai-history_prev, .modai-history_next {
    //all: unset;
}

.modai-generate,
.modai-history_next,
.modai-history_prev {
    display: inline-block;
    cursor: pointer;
    background: #00b5de;
    color: #ffffff;
    border-radius: 7px;
    margin-right: 6px;
    padding-inline: 0.6em;
    padding: 3px 6px;
    vertical-align: baseline;
    border: 2px solid #ff9640;
    border-top-color:#117ca3;
    border-right-color:#ff5529;
    border-left-color:#00decc;
    height: 1.85em;
    transition: 200ms all;
}
.modai-generate:hover,
.modai-history_next:hover,
.modai-history_prev:hover {
    transform: scale(1.15);
    background: #117ca3;
    border-top-color:#00b5de;
}
.modai-generate:disabled,
.modai-history_next:disabled,
.modai-history_prev:disabled {
    opacity:0.5;
    cursor:initial;
}

.modai-generate {
    margin-left: 6px;
    padding-bottom: 3px;
}
